/*COLOR */

$primary: #003549;
$secondary: #005b61;
$text: #00bbc2;
$hover: #e5e446;

/*FONT-SIZE */
$fsb: 48px;
$fst: 24px;
$fsm: 18px;
$fsl: 12px;

/*FONT-Weight*/
$bold: 700;
$classic: 500;
$light: 300;
