/*COLOR*/

$primary: #003549;
$secondary: #005b61;
$turquoise: #00bbc2;
$orange: #ff9200;

/*FONT-SIZE*/

$fsb: 48px;
$fst: 24px;
$fsm: 18px;
$fsl: 16px;

/*FONT-WEIGHT*/

$bold: 700;
$classic: 500;
$light: 300;

/*MEDIA-QUERY*/
$phone: 478px;
$desktop: 1600px;

/*TITLE-STYLE*/
@mixin title {
  padding: 50px 0;
  text-align: center;
  font-weight: $bold;
  font-size: $fsb;
  color: $orange;
  animation: left 0.7s ease, color ease 0.7s infinite alternate;
}
@mixin title-mobile {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 28px;
}

/*MIXIN-ANIMATION*/
@mixin link-transition {
  transition: color 0.7s ease;
}

/*KEYFRAME-ANIMATION*/
@keyframes color {
  0% {
    color: $orange;
  }
  100% {
    color: $turquoise;
  }
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes link {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes top {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
