@import "variables";

.svg {
  width: 130px;
  height: 130px;
}

@media (max-width: $phone) {
  .svg {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: $phone) and (max-width: $desktop) {
  .svg {
    width: 90px;
    height: 90px;
  }
}
