@import "variables";

.footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: $orange;

  span {
    color: $turquoise;
  }
  &.skill-page {
    margin-top: 50px;
    position: relative;
  }
}
