@import "variables";

.footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: $orange;

  .link {
    color: $turquoise;
    text-decoration: none;
    font-weight: $bold;
    font-style: italic;
  }
  &.skill-page {
    margin-top: 50px;
    position: relative;
  }
}
