@import "variables";

.header {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  animation: top ease-in-out 1s;

  .nav {
    display: flex;
    gap: 250px;

    .link {
      text-decoration: none;
      color: $orange;
      font-size: $fst;
      font-weight: $bold;
      @include link-transition;
      &:hover {
        color: $turquoise;
      }
    }
  }
}

@keyframes top {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
