@import "variables";

.header {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  animation: top ease-in-out 1s;

  .drop-down-menu {
    display: none;
  }

  .nav {
    display: flex;
    gap: 250px;

    .link {
      text-decoration: none;
      color: $orange;
      font-size: $fst;
      font-weight: $bold;
      @include link-transition;
      &:hover {
        color: $turquoise;
      }
    }
  }
}

@media (max-width: $phone) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    z-index: 1000;
    height: 7vh;

    .nav {
      display: none;
    }

    .drop-down-menu {
      display: block;

      .mobile-menu {
        visibility: visible;
        left: -100%;
        transition: left 0.7s ease-in-out;
        background-color: $primary;
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        height: 100vh;
        gap: 30px;

        &.open,
        &.close {
          .containerlink {
            border-bottom: 2px $orange dashed;
            width: 50%;
            text-align: center;
            padding-bottom: 10px;
            margin-bottom: 30px;

            .link {
              text-decoration: none;
              font-size: 1.8rem;
              font-weight: $bold;
              color: $turquoise;
            }
          }
        }

        &.open {
          left: 0;
          animation: left 0.7s ease-in-out;
        }

        &.close {
          left: -100%;
        }
      }

      .svg {
        position: absolute;
        top: 10px;
        right: 15px;
      }
    }
  }
}

@media (min-width: $phone) and (max-width: $desktop) {
  .header {
    height: 50px;
    .nav {
      justify-content: center;
      gap: 18%;
    }
  }
}
