@import "variables";

.svg {
  width: 100px;
  height: 100px;
}

@media (max-width: $phone) {
  .svg {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: $phone) and (max-width: $desktop) {
  .svg {
    width: 75px;
    height: 75px;
  }
}
