@import "variables";

.container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .main_title {
    @include title;
  }

  .presentation {
    color: $turquoise;
    font-size: $fst;
    text-align: justify;
    line-height: 35px;
    animation: right 0.7s ease;
    span,
    .link {
      color: $orange;
    }
    .link {
      color: $orange;
      animation: link 0.7s infinite alternate;
      text-decoration: none;
      font-style: italic;
    }
  }
}

@media (max-width: $phone) {
  .container {
    width: 80%;
    .main_title {
      @include title-mobile;
    }
    .presentation {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
