@import "variables";

.title {
  @include title;
  animation: left 0.7s ease, color 0.7s ease-in-out infinite alternate;
}
.container {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  animation: right 0.7s ease;
}
