@import "variables";

.title {
  @include title;
}
.container {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  animation: right 0.7s ease;
}

@media (max-width: $phone) {
  .title {
    @include title-mobile;
  }
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
}
