@import "variables";

.title {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: $fsb;
  color: $orange;
  animation: color ease 1s infinite alternate;
}
.container {
  display: flex;
  gap: 100px;
  justify-content: center;
}
