@import "variables";
.main-title {
  @include title;
  animation: left 0.7s ease, color 0.7s ease-in-out infinite alternate;
  margin-bottom: 50px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  .category-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    border: dashed 2px $turquoise;
    border-radius: 10px;
    .second-title {
      font-size: $fst;
      color: $orange;
      font-weight: $bold;
    }
    .skill-container {
      display: flex;
      gap: 50px;
    }
    &.left {
      animation: left 0.7s ease;
    }
    &.right {
      animation: right 0.7s ease;
    }
  }
}
.certifs-mobile {
  display: none;
}
.certifs {
  position: fixed;
  border: dashed 2px $turquoise;
  border-radius: 10px;
  right: 20px;
  bottom: 28px;
  animation: bottom 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 8px;
  .h3 {
    color: $orange;
    font-weight: $bold;
    font-size: $fsm;
  }
  a {
    text-decoration: none;
    color: $turquoise;
    font-size: $fsl;
    @include link-transition;
    span {
      font-style: italic;
      color: $orange;
    }
    &:hover {
      color: $orange;
    }
  }
}

@media (max-width: $phone) {
  .main-title {
    @include title-mobile;
  }
  .container {
    .category-container {
      width: 80%;
      gap: 15px;
      padding: 15px;
    }
    .second-title {
      text-align: center;
      margin-bottom: 15px;
    }
    .skill-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .certifs {
    display: none;
  }
  .certifs-mobile {
    border: dashed 2px $turquoise;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 8px;
    width: 85%;
    .h3 {
      color: $orange;
      font-weight: $bold;
      font-size: $fsm;
    }
    a {
      text-decoration: none;
      color: $turquoise;
      font-size: $fsl;
    }
  }
}
