.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 20px;
  animation: bottom 1s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: bottom 1s ease;
}

@keyframes bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
